html {
    /* Customized Style below */
    background-color: #9b9da7;
}

input,
textarea {
    border: transparent;
    border-radius: 3px;
}

.invoice {
}

.invoice-form {
    padding: 1rem;
    display: grid;
    /* grid-template-columns: 1.5em minmax(400px, 650px) minmax(400px, 650px) 1.5em; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-areas:
        "logo logo label label"
        "info info . ."
        "table table table table"
        "notes notes notes notes"
        "submit submit submit submit";
}

.invoice-logo {
    width: 150px;
    grid-area: logo;
}

.invoice-date {
}

.invoice-formality {
    text-align: end;
    grid-area: label;
}

.form-info-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    justify-content: space-between;
    grid-area: info;
    gap: 1rem;
}

.form-to-info-container {
    display: flex;
    max-width: 225px;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 16px;
}

.form-from-info-container {
    display: flex;
    max-width: 225px;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 16px;
}

.form-table-div {
    grid-area: table;
    margin-top: 40px;
}

.form-h-title {
    text-align: none;
}

.form-table {
    /* width: 100%; */
}

.form-table-tr {
    text-align: center;
}

.qty-th,
.input-qty {
    width: 36px;
}

.item-th,
.input-item {
    width: 200px;
}

.unitprice-th,
.input-unitprice {
    width: 100px;
}

.tax-th,
.input-tax {
    width: 100px;
}

.amount-th,
.input-amount {
    width: 100px;
}

.delete-th,
.input-delete {
    width: 10px;
}

.qty-td {
    width: 36px;
}

.item-td {
    width: 200px;
}

.unitprice-td {
    width: 100px;
}

.tax-td {
    width: 100px;
}

.amount-td {
    width: 100px;
}

.delete-td {
    width: 10px;
}

.form-table-tr-headers {
    text-align: center;
}

.form-notes {
    grid-area: notes;
}
.form-notes .form-notes-textarea {
    width: 100%;
}

.form-submit {
    grid-area: submit;
    display: flex;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    margin-top: 1rem;
}

.btn {
    border: transparent;
    border-radius: 3px;
    padding: 0.3rem;
    color: whitesmoke;
    font-weight: 500;
}

#btn-addrow {
    background-color: rgb(139, 220, 17);
}

#btn-deleterow {
    background-color: rgb(249, 65, 65);
    width: 25px;
}

.form-submit-btn {
    background-color: rgb(0, 136, 255);
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-out {
    opacity: 0;
    animation-name: fadeOutOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 200ms;
}
@keyframes fadeOutOpacity {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/**
 * Basic CSS Media Query Template
 * ------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet 
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */

@media all and (min-width: 1024px) and (max-width: 1280px) {
}

@media all and (min-width: 768px) and (max-width: 1024px) {
}

@media all and (min-width: 480px) and (max-width: 768px) {
}

@media all and (max-width: 480px) {
    .form-h-title {
        text-decoration: underline;
        font-weight: 900;
        text-align: center;
    }
    .invoice-form {
        grid-template-areas:
            "logo logo label label"
            "info info info info"
            "table table table table"
            "notes notes notes notes"
            "submit submit submit submit";
    }
    .form-info-container {
        justify-content: center;
    }

    .form-table {
        /* width: 100%; */
    }

    .form-table-tr {
        text-align: center;
    }

    .qty-th,
    .input-qty {
        width: 36px;
    }

    .item-th,
    .input-item {
        width: 75px !important;
    }

    .unitprice-th,
    .input-unitprice {
        width: 50px;
    }

    .tax-th,
    .input-tax {
        width: 50px;
    }

    .amount-th,
    .input-amount {
        width: 50px;
    }

    .delete-th,
    .input-delete {
        width: 10px;
    }

    .qty-td {
        width: 36px;
    }

    .item-td {
        width: 200px;
    }

    .unitprice-td {
        width: 100px;
    }

    .tax-td {
        width: 100px;
    }

    .amount-td {
        width: 100px;
    }

    .delete-td {
        width: 10px;
    }

    .TOTAL {
        border-top: 1px solid black;
    }
    #TOTAL {
        border: 1px solid black;
    }
}

/* Portrait */
@media screen and (orientation: portrait) {
    /* Portrait styles here */
}
/* Landscape */
@media screen and (orientation: landscape) {
    /* Landscape styles here */
}

/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
}

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation: landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation: portrait) {
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation: landscape) {
}
